.container-register {
  width: 350px;
}

.btn-google {
  background-color: #d12d2d;
  color: #fff;
  border-color: transparent;
  transition: 0.15s ease-in-out;
}

.btn-google:hover {
  background-color: #aa2424;
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  border-color: transparent;
  transition: 0.15s ease-in-out;
}

.btn-facebook:hover {
  background-color: #2d4373;
}
