<form
  [formGroup]="taskForm"
  (ngSubmit)="onSubmit()"
  class="bg-[#121820] shadow-xl p-6 rounded-lg w-fit"
>
  <div class="flex justify-between">
    <h1 class="text-lg font-semibold">Create task</h1>
    <div class="flex gap-3">
      <label for="cbx2">Done </label>
      <div class="container">
        <input
          type="checkbox"
          id="cbx2"
          style="display: none"
          formControlName="done"
        />
        <label for="cbx2" class="check">
          <svg width="24px" height="24px" viewBox="0 0 18 18">
            <path
              d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"
            ></path>
            <polyline points="1 9 7 14 15 4"></polyline>
          </svg>
        </label>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="mt-3">
      <input
        type="text"
        placeholder="Title"
        id="title"
        formControlName="title"
        required
        class="w-full text-black px-4 py-1 rounded-lg"
      />
      <div
        *ngIf="
          taskForm.controls['title'].invalid &&
          (taskForm.controls['title'].dirty ||
            taskForm.controls['title'].touched)
        "
      >
        <div *ngIf="taskForm.controls['title'].hasError('required')">
          <p class="text-red-600 text-xs">Title is required</p>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <textarea
        id="description"
        name="description"
        formControlName="description"
        placeholder="Description"
        rows="4"
        class="sm:w-80 text-black px-2 py-1 rounded-lg"
      ></textarea>
    </div>
    <button
      type="submit"
      class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 w-full mt-3 disabled:opacity-50 disabled:cursor-not-allowed"
      [disabled]="!taskForm.valid"
    >
      <span>Create</span>
    </button>
  </div>
</form>
