<app-navbar></app-navbar>
<main
  class="flex flex-col h-screen w-screen justify-center items-center gap-10"
>
  <div class="mt-[106px]">
    <h1 class="text-3xl font-bold">Welcome {{ userData.name }}!</h1>
  </div>
  <div class="flex flex-grow gap-16 w-full">
    <section class="flex w-1/2">
      <app-form-create-task
        class="flex w-full h-fit justify-end"
      ></app-form-create-task>
    </section>
    <section class="flex w-1/2">
      <app-show-tasks class="w-full"></app-show-tasks>
    </section>
  </div>
</main>
