.container-update {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-card {
  width: 98%;
}

.update-input {
  background: transparent;
  border: 1px solid rgb(65, 65, 65);
  color: white;
}

.title-update {
  display: flex;
  justify-content: space-between;
}

.title-update span {
  font-size: 0.8rem;
}